# IPython Notebook
.ipynb_checkpoints

# Data important secret folders
data_manging/client.secret
data_manging/python_data/keys/

# Wiki Material
data_manging/Explainer Notebook.ipynb
data_manging/pics/ 
