#multilinegraph {
     height: 100%;
     width: 100%;
     background-color: #eeeeee;
   }

/* New Staff*/
    #linegraphs {
      width: 100%;
      height: 100%;
      /*float: left;*/
    }
    #linegraphs svg:last-child {
        padding-bottom: 20px;
    }
    #linegraphs svg:first-child {
        padding-top: 20px;
    }
    .area {
      fill: #e7e7e7;
      fill: transparent;
    }
    
    .overlay {
      fill: none;
      pointer-events: all;
      margin-top: 20px;
    }
  .focusLine {
    stroke: blue;
    stroke-dasharray: 3, 3;
    opacity: 0.5;
  }
/* New Staff END*/



    .line {
      stroke-width: 2;
      fill: none;
      stroke: #47885e;
    }
    .bar {
      fill: #999999; /*green #47885e*/
    }
    .active {
      fill: #47885e;
    }
    .axis {
      font: 10px sans-serif;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    path.leaflet-clickable {
      stroke-opacity: 1;
      stroke-width: 2px;
    }