#calories{
    height: 600px;
    width: 1200px;
    font: 10px sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis.right path {
  display: none;
}
.y.axis.right line{
  stroke: #fff;
  stroke-opacity: 0.8;
}

.area.above {
  fill: rgb(252,141,89); /*orange*/
  opacity: 0.5;
}

.area.below {
  fill: rgb(145,207,96); /*green*/
  opacity:0.5;
}

.bar {
      fill: steelblue; /*green #47885e*/
      opacity:0.3;
}

.line {
    fill: none;
    /*stroke: grey;*/
    stroke-width: 1.5px;
    stroke-dasharray: 3, 3;
    opacity: 1;
    padding-bottom: 20px;
}
