#areagraph,
text{
    font: 10px sans-serif;
}
#areagraph{
    height: 600px;
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.data {
  fill: rgb(100,186,226);  /*light blue*/
  opacity: 0.7;
}

.axis--y .tick line {
  stroke: #fff;
  stroke-opacity: 0.8;
}

.axis--x .tick line {
  stroke: #000;
  stroke-opacity: 0.25;
}

.axis .domain {
  display: none;
}
.line,
.mouse-line {
    fill: none;
    stroke: grey;
    stroke-dasharray: 3, 3;
    opacity: 0.7;
    padding-bottom: 20px;
}
image{
    opacity: 0.3;
}