#weather{
    font: 10px sans-serif;
}

.line,
.mouse-line {
    fill: none;
    stroke: grey;
    stroke-dasharray: 3, 3;
    opacity: 0.5;
    padding-bottom: 20px;
}

.axis path,
.axis line ,
{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area.temp,
.area.wind {
  opacity: 0.5;
}
