.lineConnect {
    fill: none;
    stroke: black;
    opacity: 1;
}
div.tooltip{ 
    position: relative;     
    text-align: center;     
    width: auto;          
    height: auto;         
    padding: 2px;       
    font: 12px sans-serif;    
    background: lightsteelblue; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}