   body {
     height: 800px;
     width: 1200px;
     background-color: #eeeeee;
   }
    #map {
        width:50%;
        height:50%;
        float: right;
      }
    #bar {
      width: 50%;
      height: 150px;
      float: left;
    }
    #elev {
      width: 50%;
      height: 200px;
      float: left;
    }
    .line {
      stroke-width: 2;
      fill: none;
      stroke: #47885e;
    }
    .bar {
      fill: #999999; /*green #47885e*/
    }
    .active {
      fill: #47885e;
    }
    .axis {
      font: 10px sans-serif;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    path.leaflet-clickable {
      stroke-opacity: 1;
      stroke-width: 2px;
    }
    /*.textcircle {
      fill: none;
      stroke: steelblue;
    }*/